.gameBord
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 200px;
    /* height: calc(90vh - 151px); */
}
.gameSection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    
    width: 250px;
    height: 450px;
}
.imgSec
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 250px;
    height: 300px;
    text-align: center;
}
.imgSec p
{
    font-size: 24px;
    font-weight: 600;
}
.controlBtns
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    width: 220px;
    height: 112px;
}
.resetBtn
{
    width: 220px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    font-family: "poppins";
    border-radius: 5px;

    background-color: white;
}
.resetBtn:hover
{
    background-color: black;
    color : white;
    cursor: pointer;
}
.showResult
{
    width: 220px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    font-family: "poppins";

    border-radius: 5px;

    background-color: black;
    color : white;
}
.showResult:hover
{
    background-color: white;
    color : black;
    cursor: pointer;
}
.hideResult
{
   width: 220px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    font-family: "poppins";

    border-radius: 5px;

    background-color: rgb(58, 140, 58);
    color : white;
}