.num
{
    width: 72px;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid black;

    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
}
.num:hover
{
    background-color: black;
    color: white;
}
.active
{
    background-color: black;
    color: white;
}