p
{
    margin: 0px;
}
.panel
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* gap: 593px; */

    width: 1280px;
    height: 151px;
    
}
.score
{
    width: 135px;
    height: 151px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px ;
}
.value
{
    width: 62px; 
    height: 112px;
   
    display: flex;
    
    align-items: center;
    justify-content: center;

    font-size: 100px;
    font-weight: 600;
    margin: 0px;
}
.scoreMsg
{
    font-size: 24px;
}

.selctSection
{
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 552px;
    height: 138px;
}
.selectBtns
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.selectMsg
{
    width: 182px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    margin-left: calc(552px - 182px);
}