.ruleContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.rules
{
    width: 794px;
    height: 200px;
    padding: 20px;
    background-color: wheat;
    /* margin-top: 50vh;
    margin-bottom: 50vh; */
}
.rules h1
{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}
.rules p
{
    font-size: 16px;
    font-weight: 500;
}