@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*
{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.container
{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  font-family: 'Poppins', sans-serif;
}