@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

#root 
{
  max-width: 1280px;
  margin: 0 80px;
  /* padding: 2rem; */
  font-family: 'Poppins', sans-serif;
}
.contact-container
{
  display: flex;
  flex-direction: row;
  gap: 80px;

  height: 100%;
}
.container
{
  margin-left: 105px;
  height: calc(100vh - 72px);
}
.check
{
    width: 1400px;
    height: 400px;
}