.header_main_div
{
    height: 241px;
    max-width: 1440px;
    background-color: #323334;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    @media (0<width<=550px)
    {
        gap: 30px;
    }

}

.search_bar
{
    height: 40px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 100vw)
    {
        height: fit-content;
        width: 90%;
    }
    @media (0<width<=550px)
    {
        flex-direction: column;
        gap: 10px;
    }
}
/* .logo
{
    height: 37px;
    width: 184px;
} */
.inp
{
    height: 40px;
    width: 285px;
    border: 1px solid var(--orange2); 
    border-radius: 5px;
    background-color: transparent;
    color: var(--white);
    font-size: 16px;
    padding-left: 15px;
}
.inp::placeholder
{
    color: var(--white);
    font-size: 16px;
}
input:focus
{
    outline: none;
}
.nav
{
    height: 31px;
    display: flex;
    align-items: center;
    gap: 14px;
}