.mainContainer
{
    margin-top: -3px;
    width: 1440px;
    height: calc(100vh - 238px);
    background-image: url("../images/bg.png");
    background-size: cover;

    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}

.cardSection
{
    width: 1060px;
    height: fit-content;
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
    /* flex-wrap: wrap; */
    gap: 32px;
}