@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');

*
{
  margin: 0px;
}
:root
{
  --red : #D01C28;
  --dark-gray : #2E2E2E;
}
a
{
  text-decoration: none;
  color: #2E2E2E;

  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.container
{
  max-width: 1280px;
  margin: 0 auto;
}
nav
{
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 80px;
  /* background-color: antiquewhite; */
}
.logo
{
  width: 76px;
  height: 42.75px;
  /* margin-top: 15px;
  margin-left: 85px; */
}
.nav-btns
{
  width: 333px;
  height: 24px;
  

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.btn
{
  border: white 1px solid;
  padding: 2px;
}
.btn:hover
{
  cursor: pointer;
  border: #000000 1px solid;
  padding: 2px;
}
.login
{
  /* all: unset; */
  width: 75px;
  height: 31px; 
  background-color: var(--red);
  color: #FFFFFF;
  border: none;
  padding: 6px 16px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'inter', sans-serif;
}
.login:hover
{
  cursor: pointer;
  background-color: #000000;
  color: #FFFFFF;
}

.hero
{
  display: flex;
  align-items: center;
  margin-left: 77px;
  /* margin-right: 77px; */
  height: calc(100vh - 72px);

}
.hero-content
{
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.heading
{
  font-size: 108px;
  line-height: 102px;
  font-family: 'Poppins', sans-serif;
  font-weight:900;
  width: 595px;
  height: 306px;
}
.para
{
  width: 400px;
  height: 91px;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-gray);
  font-family: 'Poppins', sans-serif;
}
.btns
{
  display: flex;
  align-items: center;
  gap: 40px;
  width: 331px;
  height: 41px;
}
.Shop-now
{
  all: unset;
  width: 150px;
  height: 41px;
  padding-left: 16px;
  padding-right: 16px;
  color: #FFFFFF;
  font-family: 'inter', sans-serif;
  font-size: 24px;
  background-color: var(--red);
  border: none;
}
.Shop-now:hover
{
  cursor: pointer;
  background-color: #000000;
  color: #FFFFFF;
}
.category
{
  width: 141px;
  height: 41px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: grey;
}
.category:hover
{
  cursor: pointer;
  background-color: #000000;
  color: #FFFFFF;
}

.Shop
{
  width: 133px;
  height: 67px;
  /* background-color: antiquewhite; */
}
.Shop-para 
{
  width: 133px;
  height: 19px;
  /* font-size: 16px; */
  font-family: 'Inter', sans-serif;

  margin-bottom: 17px;
}
.avl-shop
{
  width: 80px;
  height: 32px;
  display: flex;

  gap: calc(80px - 64px) ;
}
.heroImage
{
  width: 530px;
  height: 487px;
  /* margin-top: 100px; */
  /* margin-bottom: calc(613px - 487px); */
}