.msg
{
    width: 316px;
    height: 72px;
    margin: 0px;
    font-weight: 900;
    font-size: 48px;
}

p
{
    width: 975px;
    height: 72px;
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
}