.form
{
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 40px;

    width: 472px;
    height: 570px;
    padding: 0px;
}

.btnSection
{
    display: flex;
    flex-direction: column;
    gap: 17px;

    margin-top: 70px;
    margin-bottom: 23px;
}
.modeBtns
{
    display: flex;
    gap: 32px;

    width: 472px;
    height: 44px;
}
.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 220px;
    height: 44px;
    border: none;
    border-radius: 5px;

    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover
{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.icon
{
    width: 22px;
    height: 22px;
}
.emailBtn
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 472px;
    height: 44px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;

    border: 1px solid black;
    border-radius: 5px;
}
.emailBtn:hover
{
    cursor: pointer;
    background-color: black;
    color: white;
}

.inpSection
{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    
    width: 440px;
    height: 330px;
    margin-left: 20px;
}
.inpDesign
{
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 11px;
    left: 20px;
    padding: 5px;
    background-color: white;

}
.inp
{
    width: 440px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border: 2px solid black;
}
.textInp
{
    height: 130px;
}
.submit
{
    display: flex;
    justify-content: right;
}

.check
{
    width: 1400px;
    height: 400px;
}